@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Urbanist Thin";
}




.loader-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loader-title {
  width: 150px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.loader-controls {
  width: 100px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.loader-content {
  margin-top: 20px;
}

.loader-item {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
}
